* {
  font-size: 18px;
}

#intro {
  background-image: url("images/code.jpg");
  background-repeat: repeat;
  height: 300px;
  color: #fff;
  opacity: 1;
}

#projects {
background-color: orange;
height: 400px;
color: #001;
}

#education {
  background-color: rgb(200, 227, 245);
  height: 400px;
  color: #000;
}

.sectionImages {
  border-radius: 50%;
  margin: 60px;
}