* {
  font-size: 14px;
}

#intro {
  background-image: url("images/code.jpg");
  background-repeat: repeat;
  height: 300px;
  color: #000000;
  opacity: .1;
}

.sectionImages {
  border-radius: 50%;
}